### 參考資料
* https://medium.com/@mengchiang000/redis-cache淺談-應用-7513a9f5f2dd
* http://tw511.com/18/146/4292.html
* https://www.runoob.com/w3cnote/python-redis-intro.html
* https://kknews.cc/zh-tw/code/ljx6xke.html

In [4]:
import redis # !pip install redis

In [5]:
# 讀取本地端起的 redis-server
# redis 取出的结果默认是字节，我们可以设定 decode_responses=True 改成字符串。
r = redis.Redis(host='127.0.0.1', port=6379, decode_responses=True)

In [6]:
r.set('mykey', 10) #新增
print(r.get('mykey')) #獲取

10

In [7]:
r.set('tmp', 1234, ex=3) # key是"tmp" value是1234。將鍵值存入緩存, ex 可以設定過期的時間(秒)

True

In [9]:
print(r.get('tmp'))  # tmp=3 這個值過3秒就會不見

None

* 計算雜湊值

In [10]:
#!/usr/bin/python3
import hashlib
m = hashlib.md5()
data = "G. T. Wang"

# 先將資料編碼，再更新 MD5 雜湊值
m.update(data.encode("utf-8"))

h = m.hexdigest()
print(h)

6871bb74e606dc7b4988b643e4870a8d

In [28]:
import random
account = str(random.randint(1,10))
m = hashlib.md5()
m.update(account.encode("utf-8"))
password = m.hexdigest()
print(account, password)

6 1679091c5a880faf6fb5e6087eb1b2dc

* pymysql 連進本地資料庫

In [34]:
import pymysql
import pandas as pd
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='', db= 'test', charset='utf8')
cursor = conn.cursor()
sql = f"""
SELECT *
FROM test.student
"""
df = pd.read_sql(sql, conn)
df

    course  mark    name
0    Maths    60   Roger
1    Maths    60   Jerry
2    Maths    70   Ariel
3    Maths    55  Tracey
4  Biology    60  Tracey
5  Biology    70   Jerry
6     Econ    90   Jerry
7     Econ    60   Ariel
8      123   456     789

In [33]:
sql = f"""
INSERT INTO test.student(course, mark, name) VALUES ("123", "456", "789")
"""
cursor.execute(sql)
conn.commit()

***

In [49]:
r.flushdb() # 實驗一開始先清除 redis cache
trun_cmd = f"""TRUNCATE TABLE test.tb_user"""
cursor.execute(trun_cmd) # 實驗一開始先清除 mysql database
conn.commit()

for i in range(1,100):
    account = str(random.randint(1,100))
    m = hashlib.md5()
    m.update(account.encode("utf-8"))
    password = m.hexdigest()
    
    # 先去 redis 找
    pw = r.get(account)
    if not pw:
        # redis 找不到就先去 mysql 找
        sql = f"""
        SELECT password FROM test.tb_user WHERE account={account}
        """
        df = pd.read_sql(sql, conn)
        if len(df)==0:
            # 如果 mysql 找不到，就寫一筆進去 database
            cmd = f"""
            INSERT INTO test.tb_user(account, password) VALUES ("{account}", "{password}")
            """
            cursor.execute(cmd)
            conn.commit()
            # 再寫一筆進去 redis
            r.set(account, password, ex=10000)
        else:
            # mysql 有找到，一樣要寫到 redis
            r.set(account, password, ex=10000)
    
    
    print(account, password)

1 c4ca4238a0b923820dcc509a6f75849b
60 072b030ba126b2f4b2374f342be9ed44
11 6512bd43d9caa6e02c990b0a82652dca
95 812b4ba287f5ee0bc9d43bbf5bbe87fb
1 c4ca4238a0b923820dcc509a6f75849b
50 c0c7c76d30bd3dcaefc96f40275bdc0a
96 26657d5ff9020d2abefe558796b99584
2 c81e728d9d4c2f636f067f89cc14862c
72 32bb90e8976aab5298d5da10fe66f21d
60 072b030ba126b2f4b2374f342be9ed44
40 d645920e395fedad7bbbed0eca3fe2e0
81 43ec517d68b6edd3015b3edc9a11367b
68 a3f390d88e4c41f2747bfa2f1b5f87db
13 c51ce410c124a10e0db5e4b97fc2af39
59 093f65e080a295f8076b1c5722a46aa2
48 642e92efb79421734881b53e1e1b18b6
74 ad61ab143223efbc24c7d2583be69251
8 c9f0f895fb98ab9159f51fd0297e236d
37 a5bfc9e07964f8dddeb95fc584cd965d
68 a3f390d88e4c41f2747bfa2f1b5f87db
24 1ff1de774005f8da13f42943881c655f
90 8613985ec49eb8f757ae6439e879bb2a
5 e4da3b7fbbce2345d7772b0674a318d5
88 2a38a4a9316c49e5a833517c45d31070
49 f457c545a9ded88f18ecee47145a72c0
72 32bb90e8976aab5298d5da10fe66f21d
91 54229abfcfa5649e7003b83dd4755294
29 6ea9ab1baa0efb9e19094440c317e21b
87 c7e1249ffc03eb9ded908c236bd1996d
84 68d30a9594728bc39aa24be94b319d21
26 4e732ced3463d06de0ca9a15b6153677
64 ea5d2f1c4608232e07d3aa3d998e5135
36 19ca14e7ea6328a42e0eb13d585e4c22
61 7f39f8317fbdb1988ef4c628eba02591
60 072b030ba126b2f4b2374f342be9ed44
7 8f14e45fceea167a5a36dedd4bea2543
40 d645920e395fedad7bbbed0eca3fe2e0
10 d3d9446802a44259755d38e6d163e820
1 c4ca4238a0b923820dcc509a6f75849b
33 182be0c5cdcd5072bb1864cdee4d3d6e
13 c51ce410c124a10e0db5e4b97fc2af39
34 e369853df766fa44e1ed0ff613f563bd
73 d2ddea18f00665ce8623e36bd4e3c7c5
86 93db85ed909c13838ff95ccfa94cebd9
82 9778d5d219c5080b9a6a17bef029331c
15 9bf31c7ff062936a96d3c8bd1f8f2ff3
33 182be0c5cdcd5072bb1864cdee4d3d6e
94 f4b9ec30ad9f68f89b29639786cb62ef
51 2838023a778dfaecdc212708f721b788
23 37693cfc748049e45d87b8c7d8b9aacd
100 f899139df5e1059396431415e770c6dd
4 a87ff679a2f3e71d9181a67b7542122c
7 8f14e45fceea167a5a36dedd4bea2543
50 c0c7c76d30bd3dcaefc96f40275bdc0a
81 43ec517d68b6edd3015b3edc9a11367b
24 1ff1de774005f8da13f42943881c655f
69 14bfa6bb14875e45bba028a21ed38046
5 e4da3b7fbbce2345d7772b0674a318d5
32 6364d3f0f495b6ab9dcf8d3b5c6e0b01
5 e4da3b7fbbce2345d7772b0674a318d5
78 35f4a8d465e6e1edc05f3d8ab658c551
32 6364d3f0f495b6ab9dcf8d3b5c6e0b01
19 1f0e3dad99908345f7439f8ffabdffc4
8 c9f0f895fb98ab9159f51fd0297e236d
8 c9f0f895fb98ab9159f51fd0297e236d
37 a5bfc9e07964f8dddeb95fc584cd965d
54 a684eceee76fc522773286a895bc8436
9 45c48cce2e2d7fbdea1afc51c7c6ad26
3 eccbc87e4b5ce2fe28308fd9f2a7baf3
53 d82c8d1619ad8176d665453cfb2e55f0
78 35f4a8d465e6e1edc05f3d8ab658c551
78 35f4a8d465e6e1edc05f3d8ab658c551
17 70efdf2ec9b086079795c442636b55fb
61 7f39f8317fbdb1988ef4c628eba02591
14 aab3238922bcc25a6f606eb525ffdc56
70 7cbbc409ec990f19c78c75bd1e06f215
74 ad61ab143223efbc24c7d2583be69251
10 d3d9446802a44259755d38e6d163e820
84 68d30a9594728bc39aa24be94b319d21
14 aab3238922bcc25a6f606eb525ffdc56
60 072b030ba126b2f4b2374f342be9ed44
51 2838023a778dfaecdc212708f721b788
12 c20ad4d76fe97759aa27a0c99bff6710
40 d645920e395fedad7bbbed0eca3fe2e0
53 d82c8d1619ad8176d665453cfb2e55f0
43 17e62166fc8586dfa4d1bc0e1742c08b
45 6c8349cc7260ae62e3b1396831a8398f
82 9778d5d219c5080b9a6a17bef029331c
70 7cbbc409ec990f19c78c75bd1e06f215
13 c51ce410c124a10e0db5e4b97fc2af39
89 7647966b7343c29048673252e490f736
18 6f4922f45568161a8cdf4ad2299f6d23
78 35f4a8d465e6e1edc05f3d8ab658c551
85 3ef815416f775098fe977004015c6193
76 fbd7939d674997cdb4692d34de8633c4
96 26657d5ff9020d2abefe558796b99584
68 a3f390d88e4c41f2747bfa2f1b5f87db
26 4e732ced3463d06de0ca9a15b6153677
3 eccbc87e4b5ce2fe28308fd9f2a7baf3

In [50]:
trun_cmd = f"""TRUNCATE TABLE test.tb_user"""
cursor.execute(trun_cmd)
conn.commit()